@import url("css/theme.css");

.k-ByTac     { color: #ff0000; }
.k-Dangerous { color: #ff0000; font-style: italic; }
.k-Global    { color: #cc00cc; }
.k-Internal  { color: #000000; }
.k-Prog      { color: #cc00cc; }
.k-Tactic    { color: #000080; }
.k-Tactical  { color: #cc00cc; }
